<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.id6130201483.project">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Project"
        android:usesCleartextTraffic="true">
        <activity android:name=".OrderHistoryActivity"></activity>
        <activity android:name=".OrderHasTransportActivity" />
        <activity android:name=".EmpOrderDetailActivity" />
        <activity android:name=".EmpShowCusOrderActivity" />
        <activity android:name=".EmpProductActivity" />
        <activity android:name=".EmpHomeActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".TransportActivity" />
        <activity android:name=".PaymentActivity" />
        <activity android:name=".CartActivity" />
        <activity android:name=".ImageActivity" />
        <activity android:name=".ProductActivity" />
        <activity
            android:name=".IndexActivity"
            android:label="@string/title_activity_index" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>